* {
  scroll-behavior: smooth;
}
body {
    font-family: sans-serif; /*ff*/
    margin: 0; /*m0*/
  }
  a {
    text-decoration: none; /*tdn*/
    color: #fff;
  }

  .row {
    display: flex;
  }

  .top_block {
    background-color: #000;
    padding-top: 45px;
    padding-bottom: 145px;
    height: 100vh;
  }
  .container {
    max-width: 1140px; /*maw*/
    margin: auto; /*ma*/
  }
  header {
    display: flex; /*df*/
    align-items: center; /*aic*/
    justify-content: space-between; /*jc*/
  }
  
  .logo {
    width: 10%;
  }

  .logo img {
    max-height: 100%;
    max-width: 100%;
  }
  
  .nav_item {
    font-size: 16px;
    margin-right: 20px;
  }
  .nav_item:last-child {
    margin-right: 0;
  }
  
  .phone {
    font-size: 16px;
    font-weight: 800;
  }
  
  .header-content__title {
    font-size: 58px;
    margin-bottom: 23px;
  }
  
  .header-content__description {
    font-size: 17px;
    line-height: 160%;
    margin-bottom: 40px;
  }
  
  .btn {
    font-size: 18px;
    background-color: rgb(45, 60, 255);
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 15px 56px; /*p15-56*/
    line-height: 160%;
  }

  .btn:hover {
    background-color: rgb(17, 30, 202);
    cursor: pointer;
  }

  .btn:focus {
    outline: none;
  }
  
  .btn--shadow {
    box-shadow: 0px 10px 25px rgba(45, 60, 255, 0.5);
  }
  
  .header-content {
    display: flex; /*запихиваем все в одну строку*/
    align-items: center; /*выравнивание элементов по центру относительно друг друга*/
    justify-content: space-between; /*распределение элеметнов по ширине*/
  }
  
  .header-content__text {
    flex-basis: 50%;
  }

  .header-content__title{
    color: aliceblue;
    font-size: 40px;
  }
  .header-content__description {
    color: aliceblue;
  }

  .header-content__image {
    max-width: 600px;
  }
  
  .header__top {
    margin-bottom: 70px;
  }

  /*-----------------filter--------------------*/
  .filter-row {
    align-items: baseline;
  }
  
  .filter-title h5 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .filter-price_title, .filter-price_label {
    font-size: 18px;
  }
  .filter-price_title {
    margin-right: 10px;
  }

  .filter-price_input {
    /*border: 2px solid rgba(45, 60, 255, 0.6);*/
    background: #d2e3f8;
    box-shadow: 0px 4px 4px rgba(71, 74, 156, 0.48);
    padding: 10px 15px;
  }
  .filter-price_input:focus {
    outline: none;
  }
 
  /*-------------------------catalog----------*/
  .catalog h3, .container h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
  }

  .card-row  {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    display: inline-block;
    background-color: #d2e3f8; 
    width: 300px;
    margin: 30px 30px 0 0;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(71, 74, 156, 0.48);
    border-radius: 4px;
  }

  .card_sale::after {
    content: "sale";
    width: 70px;
    font-weight: 800;
    text-transform: uppercase;
    height: 70px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    padding-top: 22px;
    transform: translate(-315px, -5px);
  }
  
  .card:last-child {
    margin-right: 0;
  }
  
  .card img {
    width: 300px;
    height: 400px;
  }

  .info {
    text-align: center;
    width: 300px;
    margin-bottom: 27px;
  }
  
  .info p {
    margin-top: 28px;
    font-size: 16px;
    font-weight: 800;
  }
  
  .info span {
    margin-top: 25px;
    font-size: 33px;
    font-weight: 900;
  }

  .card .btn {
    width: 100%;
    height: 60px;
    padding: 0;
  }

  .review, .catalog {
    padding-top: 70px;
    
  }

  .review {
    text-align: center;
  }
    
  .mark {
    border: 1px solid rgba(71, 74, 156, 0.48);
    background-color: rgba(198, 224, 241, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(71, 74, 156, 0.48);
    border-radius: 10px;
    width: 300px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    display: none;
  }

  .show {
    display: block;
    animation-name: slider;
    animation-duration: 7s;
  }

  @keyframes slider {
    0% {
      opacity: 0;
    }
    15% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .mark img {
    width: 100px;
    height: 100px;
  }

  .mark h5, .mark p {
    font-size: 14px;
  }
  
  footer {
    background-color: #333333;
    margin-top: 100px;
    padding: 40px 0;
  }
  
  footer .container h2 {
    color: #fff;
  }
  
  .section {
    flex-basis: 50%;
  }
  
  form {
    margin-right: 30px;
  }
  
  form input {
    width: 250px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);
    border-radius: 5px;
    padding: 25px 30px;
    font-size: 14px;
    margin-right: 30px;
    border: none;
  }
  #email {
    margin-right: 0;
  }
  
  form textarea {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);
    border-radius: 5px;
    font-size: 14px;
    margin: 30px 0;
    padding: 25px 31px;  
    font-family: sans-serif;
    border: none;
    resize: none; /*запрет на изменение размера, убрали уголок*/
  }

  form button {
    width: 100%;
  }

  .contacts {
    flex-basis: 50%;
  }

  .contacts p, .contacts h3 {
    color: #fff;
  }

  .contacts p {
    font-size: 20px;
  }
  .contacts h3 {
    font-size: 25px;
    margin-top: 55px;
  }
